<div class="info_text">
  
  <h3>
  	Informácie pre obyvateľstvo	pre obdobie od: 1. augusta do 10. augusta 2013 pre okres: 
  	<select>
  	   <option value="Komárno">Komárno</option>
  	  <option value="Lučenec">Lučenec</option>
  	  <option value="Malacky">Malacky</option>
  	  <option value="Nitra">Nitra</option>
  	  <option value="Poprad">Poprad</option>
  	  <option value="Prievidza">Prievidza</option>
  	  <option value="Stropkov">Stropkov</option>
  	</select>
  </h3>
  <br>

    
  <div>
    <p class="headings">
  	  VÝHĽAD VÝVOJA SITUÁCIE V POĽNOHOSPODÁRSTVE
    </p>
      <p class="headings">
      	Situácia
      </p>
        <p>
          Vzhľadom na predpokladanú mimoriadne suchú dekádu, predpokladáme možné poľnohospodárske škody pri nedodržaní závlahovej potrebe rastlín.
        </p>
      <p class="headings">
      	Doporučenie
      </p>
        <p>
          Doporučujeme zalievať plodiny podľa zavlažovacej tabuľky uvedenej na stránke "závlahová potreba"
        </p>
    <hr>
  </div>  
  <br>

  <div>
    <p class="headings">
  	  VÝHĽAD VÝVOJA SITUÁCIE VO VODNOM HOSPODÁRSTVE
    </p>
      <p class="headings">
      	Situácia
      </p>
        <p>
          Neregulované menšie vodné toky zaznamenávajú mierny pokles prietoku
        </p>
      <p class="headings">
      	Doporučenie
      </p>
        <p>
          Situácia na vodných tokoch neovplyvňuje výrazným spôsobom využívanie zdrojov vody z vodných tokov.
        </p>
    <hr>  
  </div>
    <br>

  <div>
    <p class="headings">
  	  VÝHĽAD VÝVOJA SITUÁCIE VO VZŤAHU K LESNÝM POŽIAROM
    </p>
      <p class="headings">
      	Situácia
      </p>
        <p>
          Očakáva sa mierne zvýšené nebezpečenstvo vzniku lesných alebo krajinných požiarov
        </p>
      <p class="headings">
      	Doporučenie
      </p>
        <p>
          Dodržovať usmernenia vydané HaZZ alebo správcom lesa či pozemku. Pri používaní otvoreného ohňa (opekanie, grilovanie) neponechávať ohnisko bez dozoru a pred odchodom ho uhasiť a schladiť. Neodhadzovať cigaretové nedopalky do porastu.
        </p>
    <hr>
  </div>
</div>

<div class="citizens_img_up">
  <img src="mapa.jpg" />
</div>

<div class="citizens_img">
  <img src="mapa.jpg" />
</div>

<div class="citizens_img">
  <img src="mapa.jpg" />
</div>


