<div class="info_text_civildefense">
  
  <h3>
  	Informácie pre krízové štáby obcí od: 1. augusta do 10. augusta 2013 v okrese: 
  	<select>
  	   <option value="Prievidza">Prievidza</option>
  	  <option value="Lučenec">Lučenec</option>
  	  <option value="Malacky">Malacky</option>
  	  <option value="Nitra">Nitra</option>
  	  <option value="Poprad">Poprad</option>
  	  <option value="Komárno">Komárno</option>
  	  <option value="Stropkov">Stropkov</option>
  	</select>
  </h3>
  <br>

    
  <div>
    <p class="headings">
      Informácia
    </p>
      <p>
        Očakáva sa nízky úhrn zrážok na dané ročné obdobie. V dekáde od 1. do 10. augusta sa očakáva úhrn zrážok do 5,4 mm. Vzhľadom na túto situáciu sú predpokladané riziká vo vzťahu k zvýšenému riziku vzniku lesných alebo krajinných požiarov. 
      </p>
    <p class="headings">
      Potenciálne riziká
    </p>
      <p>
        Environmentálne riziká <br>
        Je očakávané mierne zvýšené nebezpečenstvo vzniku lesných alebo krajinných požiarov <br><br>
        Socio-ekonomické riziká <br>
        Nie sú očakávané žiadne environmentálne riziká <br><br>
        Bezpečnostné riziká <br>
        V prípade vypuknutia lesného požiaru sú možné škody na majetku alebo zdraví občanov.
      </p>
    <p class="headings">
      Opatrenia
    </p>
      <p>
        Doporučujeme sledovať vývoj situácie a oboznámiť vedenie obce resp. vedenie obecného hasičského zboru s očakávaným mierne zvýšeným nebezpečenstvom vzniku lesných požiarov. 
      </p>
    <hr>
  </div>  
  <br>
  <p>
   Vydané dňa 1.8.2013
  </p>
</div>