
  <div class= "menu_item">
    <a href="about_project">  
      <img src="oprojekte.jpg" alt="o projekte" />
    </a>
  </div>
  <div class= "menu_item"; style="padding-left: 31px">
    <a href="actual_weathers/1">  
      <img src="pocasie.jpg" alt="pocasie" />
    </a>
  </div>
  <div class= "menu_item"; style="padding-left: 31px">
    <a href="citizens">  
      <img src="infopreobyvatelstvo.jpg" alt="info_pre_obyvatelstvo" />
    </a>
  </div>
  <div class= "menu_item"; style="padding-left: 31px">
    <a href="civildefense">  
      <img src="krizoveriadenie.jpg" alt="info_pre_krizove_riadenie" />
    </a>
  </div>
  <div class= "menu_item">
    <a href="irrigation">  
      <img src="zavlaha.jpg" alt="zavlahova_potreba" />
    </a>
  </div>
  <div class= "menu_item"; style="padding-left: 31px">
    <a href="reporter">  
      <img src="reporter.jpg" alt="reporter_udalosti" />
    </a>
  </div>
  <div class= "menu_item"; style="padding-left: 31px">
    <a href="contacts">
      <img src="kontakt.jpg" alt="kontakt" />
    </a>
  </div>
  <div class= "menu_item"; style="padding-left: 31px">
    <a href="lit_resources">
      <img src="pramene.jpg" alt="info_pramene" />
    </a>
  </div>
  </div>  
  <div id="footer">
    <div id="cv">
      <h3><font face="trebuchet ms"><a href="cv">Ing. Jaroslav Vido, PhD.</a></h3>
    </div>
    <div id="thanks">
      <h3 ><font face="trebuchet ms"><a href="thanks">Poďakovanie</a></h3>
    </div>   
  </div>
 




