<div class="info_text_civildefense">
  
  <h3>
  	Informácie o závlahovej dávke plodín od: 1. augusta do 10. augusta 2013 v okrese: 
  	<select>
  	   <option value="Prievidza">Prievidza</option>
  	  <option value="Lučenec">Lučenec</option>
  	  <option value="Malacky">Malacky</option>
  	  <option value="Nitra">Nitra</option>
  	  <option value="Poprad">Poprad</option>
  	  <option value="Komárno">Komárno</option>
  	  <option value="Stropkov">Stropkov</option>
  	</select>
  </h3>
  <br>

  <p class="headings">
      Zemiaky
  </p>
    <p>
      Priemerná denná závlahová dávka: 11,4 l/m2
    </p>

  <p class="headings">
      Cukrová repa
  </p>
    <p>
      Priemerná denná závlahová dávka: 12,2 l/m2
    </p>

  <p class="headings">
      Kukurica
  </p>
    <p>
      Priemerná denná závlahová dávka: 12,2 l/m2
    </p>

  <hr>
  Vydané 1.8.2013