.align_right {
  text-align: right;
}
#site_title {
  float: left;
}

#header {
  padding-left: 5px; 
  padding-right: 5px;
}
h1 {color: #A7C1D5;}
h2 {color: #A7C1D5;}
h3 {color: #A7C1D5;}
#cv {float: left;}
#thanks {float: right;}

#footer {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  width: 1350px; 
  background-color: #304964;
}
.menu_item {
  float: left;
  margin: 5px;
}
div.menu_item img {
  width: 300px; 
  height: 195px; 
  border: 1px solid #304964;
}

div.menu_item img:hover {
  border-color: #E3E6E9
}
.container {clear: both;}

.info_text {
  float: left; 
  max-width: 70%; 
  text-align: justify; 
  padding-left: 5px; 
  padding-top: 20px; 
  font-family: sans-serif; 
  color: #A7C1D5;
}
#info_img img {
  float: right; 
  width: 282px; 
  height: 452px; 
  padding-right: 28px; 
  padding-top: 50px
}

.active_img img {
  float: right;
  width: 282px;
  height: 212px;
  margin: 28;
  border: 1px solid #304964;
}

div.active_img img:hover {border-color: #E3E6E9;}

a:link {color: #A7C1D5;}
a:visited {color: #A7C1D5;}
a:hover {color: #E3E6E9;}

a {text-decoration: none;}

hr {
  width: 100%; 
  float: left;
}

.headings {
  font-weight:bold; 
  color: #EAEED8
}

#overlay {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  z-index: 1000;
  display: none;
}

#overlay_div {
  width: 80%;
  height: 80%;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 20%;
  z-index: 1500;
  display: none;
}

#thumb {cursor: pointer;}

.close_button {cursor: pointer;}