<!DOCTYPE html>
<html>
<head>
  <title>Monitor Sucha</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  
  <script type="text/javascript">
    $(document).ready(function () {
      $("#thumb").click(function () {
        $("#overlay").fadeIn("fast");
        $("#overlay_div").fadeIn("fast")
      })
      $(".close_button").click(function () {
        $("#overlay").fadeOut("fast");
        $("#overlay_div").fadeOut("fast")
      })
    })
  </script>
  
</head>
<body>
  <div id="header">
    <div id="site_title">
      <h1><font face="trebuchet ms"><a href="home">SLOVENSKÝ MONITOR SUCHA</a></font></h1>
    </div>
  </div>
  <div class="container">
  <hr>
    <%= yield %>


