<!DOCTYPE html>
<html>
<head>
  <title>Monitor Sucha</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div id="site_title">
      <h1><font face="trebuchet ms">SLOVENSKÝ MONITOR SUCHA</font></h1>
    </div>    
    <div id="home_button">    
      <h1><font face="trebuchet ms"><a href="home">domov</a></font></h1>
    </div>  	
  </div>
  <div class="container">
  <hr>
    <%= yield %>
  
    
